doctype html
html
    head
        title Trial
        link(rel="stylesheet", href="/public/main.css")
    body
        #root!= body
        script window.__REDUX_STATE__ = !{JSON.stringify(state)}
        script(src='/public/bundle.js')
